.MyDiv{
    text-align: justify;
    margin-left: 25vw;
    margin-right: 25vw;
}

.question {
    color: red;
    font-style: italic;
}

.lit {
    color: blue;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 33px;
}

h4{
    font-size: 25px;
}

.MyDiv p span{
    font-size: 20px;
}

.MyDiv p::first-letter {
    margin-left: 40px;
}

.MyDiv blockquote {
    background-color: rgb(224, 224, 224);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}